<head>
  <title>Web Conference Setup</title>
  <!--Viewport and HTML Settings-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="content-language" content="en">
	<meta name="description" content="Test your setup for web conferences!">
	<meta name="language" content="English">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script type="text/javascript" src="../js/jquery.min.js" defer></script>
  <script type="text/javascript" src="../js/main.js" defer></script>
  <script type="text/javascript" src="../js/sinWaveGenerator.js" defer></script>
</head>