<div id="sidebar">
	<a href="/" id="logo">Web Conference Setup</a>
	<a class="nav" href="#" data-nav="soundTest">Soundtest</a>
	<a class="nav" href="#" data-nav="videoTest">Videotest</a>
	<a class="nav" href="#" data-nav="speedTest">Speedtest</a>
</div>