<!DOCTYPE html>
<html>
<% include modules/head %>
<body>
	<% include modules/sidebar %>
	<main>
		<div id="intro">
			<h1>About this Project</h1>
			<p>
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</p>
			<button class="buttonfy" data-nav="intro">Start the test &#8250;</button>
		</div>
		<div id="soundTest" style="display: none">
			<h1>Soundtest</h1>
			<p class="desc">
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</p>
			<button id="soundStart" class="buttonfy">Start sound test</button>
			<canvas id="waves"></canvas>
		</div>
		<div id="videoTest" style="display: none">
			<h1>Videotest</h1>
		</div>
		<div id="speedTest" style="display: none">
			<h1>Speedtest</h1>
		</div>
	</main>
</body>
</html>