@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700|Lato:300");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700|Lato:300");
/* line 2, scss/_base.scss */
html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 8, scss/_base.scss */
html, body {
  height: 100%;
  width: 100%; }

/* line 1, scss/modules/_button.scss */
button {
  background: transparent;
  font-size: 24px;
  display: block;
  margin: 20px auto;
  border: 2px solid #0099CC;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease; }
  /* line 14, scss/modules/_button.scss */
  button:focus {
    outline: 0; }
  /* line 18, scss/modules/_button.scss */
  button:after {
    content: "";
    width: 100%;
    height: 0%;
    left: 0;
    bottom: 0;
    z-index: -10;
    position: absolute;
    background: #0099CC;
    transition: height 0.3s ease; }
  /* line 30, scss/modules/_button.scss */
  button:hover {
    color: white; }
    /* line 33, scss/modules/_button.scss */
    button:hover:after {
      height: 100%; }

/* line 1, scss/modules/_main.scss */
main {
  width: calc(100% - 300px);
  display: inline-block;
  margin-left: 300px;
  height: 100%;
  padding: 40px 60px; }
  /* line 8, scss/modules/_main.scss */
  main h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 3px solid #0099CC; }

/* line 3, scss/modules/_sidebar.scss */
#sidebar {
  display: inline-block;
  padding: 40px;
  background: #0099CC;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px; }
  /* line 13, scss/modules/_sidebar.scss */
  #sidebar a {
    display: block;
    margin-bottom: 40px;
    text-decoration: none;
    color: white; }
    /* line 19, scss/modules/_sidebar.scss */
    #sidebar a#logo {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      font-size: 3em; }
  /* line 26, scss/modules/_sidebar.scss */
  #sidebar .nav {
    margin-bottom: 60px;
    margin-left: 40px; }
    /* line 30, scss/modules/_sidebar.scss */
    #sidebar .nav:before {
      content: "";
      font-family: 'FontAwesome';
      height: 24px;
      width: 24px;
      border-radius: 50%;
      border: 3px solid #ffffff;
      position: absolute;
      transform: translate(-50%);
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -o-transform: translate(-50%);
      -ms-transform: translate(-50%);
      margin-left: -20px;
      margin-top: -4px;
      line-height: 26px;
      text-align: center; }
    /* line 49, scss/modules/_sidebar.scss */
    #sidebar .nav:after {
      content: "";
      height: 52px;
      width: 3px;
      background: #ffffff;
      position: absolute;
      margin-top: 23px;
      left: 0;
      margin-left: 59px; }
    /* line 61, scss/modules/_sidebar.scss */
    #sidebar .nav.passed:before {
      color: #CCFFCC;
      content: "\2714"; }
    /* line 68, scss/modules/_sidebar.scss */
    #sidebar .nav.failed:before {
      color: #D41547;
      content: "\2715"; }

/* line 6, scss/main.scss */
* {
  font-family: "Lato", sans-serif;
  font-weight: 300; }
